<h2>Products</h2>

<div *ngFor="let product of products" class="box">

  <h3>
    <a
      [title]="'Id = ' + product.id"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="checkIfEmpty(product.description); else defaultDescription">
    {{ product.description }}
  </p>
  <p>
  <ng-template #defaultDescription>Description missing</ng-template>
  </p>
  <button type="button" (click)="addToCart(product)">Buy</button>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>

</div>
